@import "tailwindcss";

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{
  font-family: "Poppins", sans-serif;
  background-color: #FBFBFB;
  font-family: "Jersey 25", sans-serif;
}

.border-solid{
  border-color: #9EC6F3;
  
}

.logo-text{
  font-size: 100px;
  color: white;
}

.header {
  max-height: 103px;
  background-color: #9EC6F3;
  opacity: 25;
  padding: 40px;
  padding-left: 0;
  display: flex;
 align-items: center;

}

.logo{
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
  font-size: xx-large;
}


.dropbtn {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  color: whitesmoke;
  padding: 16px;
  font-size: x-large;
  border: none;
  cursor: pointer;

}

.dropbtn:hover, .dropbtn:focus {
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;

}

.dropdown-content button {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  border: none;
  box-shadow: none;
  cursor: pointer;
  background-color: transparent;
  font-size: large;
}
.dropdown-content button:hover{
  cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:flex;}

.about-cont{
  display: flex;
}

.about-img{
  max-height: 30vh;
}

.cut{
  font-family: "Jersey 25", sans-serif;
}